/*
Theme Name: Itheme WordPress
Author: the WordPress DEV team
Author URI: https://wordpress.org/
Version: 1.7
License: GNU General Public License v2 or later
*/
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #000;
}
a:hover,a:active,a:visited,a{
    text-decoration: none;
    background: none;
}
img{
    max-width: 100%;
    height: auto;
}
ul,ul li,ol,ol li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
form{
    margin: 0px;
    float: left;
    position: relative;
    padding: 0px;
}
.nopadding{
    padding: 0px;
}
.social li{
    float: left;
    display: block;
    position: relative;
    padding: 0px 5px;
}
.social{
    float: right;
}
.header{
    padding: 10px 0px;
}
.text-hotline{
    padding:12px 0px;
}
.text-hotline .title-hotline{
    color: #008be9;
}
.phonecontact{
    font-size: 15px;
    color: red;
    float: right;
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
}
.menu{
    background: #e02131;
    height: 40px;
    color:#FFF;
    z-index: 99999999;
}
.menu.fixmenu{
    position: fixed;
    top:0px;
    width: 100%;
    left: 0px;
    z-index: 999999999999;
}
.menu a{
    color:#FFF;
    font-size: 13px;
    padding:11px 12px;
    display: inline-block;
    height: 40px;
}
.menu #navmenu ul li{
    float: left;
    height: 40px;
}
.menu #navmenu ul li:hover{
    background: #035a7d;
}
.title-page{
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    padding: 0px;
    border-bottom: 1px solid #eee;
    color:#e02131;
    position: relative;
    margin-bottom: 15px;
}
.searchform{
    padding: 15px 0px;
}
.title-page h3{
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 22px;
    display: inline-block;
    padding-left: 30px;
    padding-bottom: 5px;
}
.searchform .title-page h3{
    padding-left: 25px;
}
.title-page i{
    position: absolute;
    top: 12px;
    font-size: 17px;
    left: 0px;
}
.searchform form{
    width: 100%;
}
.items-form-search .chosen-container{
    min-width: 100%;
    max-width:100%;
}
.searchform .chosen-container-single .chosen-single{
    background: #FFF;
    border-radius: 0px;
    border: 2px solid #e02131;
    box-shadow: none;
    height: inherit;
    padding: 4px 15px;
}
.searchform .chosen-container-single .chosen-single div{
    padding-top: 5px;
}
.searchform .chosen-container .chosen-drop{
    border: 1px solid #ccc;
    box-shadow: none;
}
.searchform .chosen-container-single .chosen-search input[type=text]{
    border: 1px solid #CCC;
}
.searchform .chosen-container .chosen-results li{
    padding: 7px 10px;
}
.padding10{
    padding: 0px 10px;
}
.row10{
    margin: 0px -10px;
}
.padding5{
    padding: 0px 5px;
}
.row5{
    margin: 0px -5px;
}
.searchform .chosen-container-single .chosen-single div b{
    display: none;
}
.searchform .boxsearchfrom .chosen-container-single .chosen-single div:before,.searchform .boxsearchto .chosen-container-single .chosen-single div:before{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f041";
    position: absolute;
    right: 10px;
    top:8px;
    color: #333;
}
.searchform .boxsearchprice .chosen-container-single .chosen-single div b,.searchform .boxsearchRoundTrip .chosen-container-single .chosen-single div b{
    display: block;
}
#datepicker{
    display: block;
    width: 100%;
    position: relative;
    border: 1px solid #CCC;
    padding: 4px 15px;
    height: 34px;
    outline: none !important;
}
.searchform .dateformsearch:before{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f073";
    position: absolute;
    color: #333;
    z-index: 999;
    font-size: 16px;
    right: 15px;
    top: 8px;
}
.searchform .dateformsearch #datepicker{
    padding-right: 35px;
}
.ui-widget.ui-widget-content{
    border: 1px solid #059fdd;
    padding: 0px;
    border-radius: 0px;
}
.ui-datepicker .ui-datepicker-header{
    background: #059fdd;
    border: none;
    border-radius: 0px;
    color: #FFF;
    padding: 5px 10px;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    padding: 5px;
    margin: 1px;
    font-size: 13px;
}
.ui-state-default:hover, .ui-widget-content .ui-state-default:hover{
    background: #059fdd;
    color: #FFF;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    background: #ff0000;
    color: #FFF;
}
#btnsearch{
    background-color: #e02131;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    padding: 4px 15px;
    height: 34px;
}
.templatebox{
    padding: 15px 0px;
}
.title-page i.icon-tour{
    background: url(img/icon_tilte.png) no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    top: 9px;
    background-size: contain;
}

.template1{
    margin: 10px 0px;
}
.items-template1 .right{
padding-left: 15px;
    padding-top: 10px;
    border-top:1px solid #38dcff;
}
.items-template1 .right a.link-tour{
font-weight: 600;
    color:#000;
    display: block;
    font-size: 15px;
    height: 42px;
    overflow: hidden;
}
.items-template1 .right a.link-tour:hover{
    color:#059fdd;
}
.items-template1 .items-info-tour{
  color: #333;
    font-size: 14px;
}
.items-template1 .items-info-tour .col-xs-6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.items-template1 .items-info-tour .fa.fa-star{
color:#ffd101;
}
.items-template1 .price-tour{
    color: #dc0101;
    font-size: 13px;
    font-weight: 500;
}
.items-template1 a.btnreadtour{
background: #e02131;
    color:#FFF;
    padding: 5px 15px;
    float: right;
}
.items-template1 .items-info-tour.tour-link-box .right{
    border-top:none;
    padding: 0px;
    padding-top: 10px;
}
.items-template1 .items-info-tour.tour-link-box .left{
    padding-top:10px;
    font-size: 14px;
}
.items-template1 a.btnreadtour:hover{
background: #dc0101;
    color: #FFF;
}
.owl-carousel-home .item .info-items-owl a.link-info-items-owl{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #000;
    height: 40px;
    overflow: hidden;
}
.owl-carousel-home .item .info-items-owl a.link-info-items-owl:hover{
    color: #dc0101
}
.owl-carousel-home .item .info-items-owl{
    font-size: 14px;
    padding: 15px 0px;
}
.owl-carousel-home .item .info-items-owl .fa.fa-star{
    color: #ffd101;
}
.owl-carousel-home .item .info-items-owl .info-loop-items .col-xs-6{
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}
.owl-carousel-home .item .info-loop-items .info-itemsrow{
font-size: 14px;
    padding: 5px 10px;
    padding-top: 10px;
}
.owl-carousel-home .item .info-loop-items .info-itemsrow p{
    margin-bottom: 0px;
}
.owl-carousel-home .item .info-loop-items .info-itemsrow .price-tour{
    color: #dc0101;
    font-weight: 500;
}
.owl-carousel-home .item .info-loop-items .info-itemsrow .right a.btnreadtour{
    background: #e02131;
    padding: 5px 7px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    width: 80px;
    cursor: pointer;
    display: inline-block;
}
.owl-carousel-home .item .info-loop-items .info-itemsrow .right a.btnreadtour:hover{
background: #dc0101;
    color: #FFF;
}
.owl-carousel-home .owl-nav{
    position: absolute;
    top: 41%;
    width: 100%;
}
.owl-carousel-home .owl-nav .owl-next{
    position: absolute;
    right: 0px;
}
.owl-carousel-home .owl-nav .owl-prev{
    position: absolute;
    left: 0px;
}
.owl-carousel-home.owl-theme .owl-nav [class*=owl-]{
background: #333;
    color: #FFF;
    border-radius: 0px;
    padding: 10px;
    margin: 0px 5px;
    font-size: 16px;
    opacity: 0.5;
}
.owl-carousel-home.owl-theme .owl-nav [class*=owl-]:hover{
    opacity: 1;
}
.icon-hot{
    position: absolute;
    background: url("img/hot.png");
    height: 39px;
    width: 70px;
    left: -10px;
    top:10px;
}
.owl-carousel-home.owl-theme .item .box-items{
    padding: 0px 5px;
}
.owl-carousel-home.owl-theme .item .box-items .header-thumbnail img{
    width: auto;
    margin: 0px auto;
    max-height: 185px;
}
.owl-carousel-home.owl-theme .item .box-items .header-thumbnail{
    height: 185px;
    display: table;
}
.owl-carousel-home.owl-theme .item .box-items .header-thumbnail a{
    display: table-cell;
    vertical-align: middle;
}
.icon-sale{
    width: 50px;
    height: 50px;
    background: url(img/sale.png);
    background-size: 100%;
    color: #fff;
    top:10px;
    left: 10px;
    padding-top: 20px;
    text-align: center;
    position: absolute;
}
.price-sale{
    font-size: 13px;
    text-decoration: line-through;
    margin-bottom: 0px;
}
.templatebox.box2 .template1 .items-template1 .box-items-template{
    background: #fbfbe1;
    padding: 15px 20px;
}
.templatebox.box2 .template1 .items-template1 .box-items-template a.link-tour{
    color: #000;
    font-weight: bold;
    font-size: 15px;
}
.templatebox.box2 .template1 .items-template1 .box-items-template .left .boxleft{
	display: table;
	height: 160px;
	text-align: center;
}
.templatebox.box2 .template1 .items-template1 .box-items-template .left .boxleft a{
	display: table-cell;
	vertical-align: middle;
}
.templatebox.box2 .template1 .items-template1 .box-items-template .left .boxleft a img{
	max-height: 160px;
}
.templatebox.box2 .template1 .items-template1 .box-items-template .title-tour-view{
    font-size: 15px;
    font-weight: bold;
    padding: 8px 13px;
    height: 52px;
    padding-bottom: 0px;
    display: block;
    margin-bottom:8px;
    overflow: hidden;
}
.templatebox.box2 .template1 .items-template1 .box-items-template a.link-tour:hover{
    color: #e02131;
}
.templatebox.box2 .template1 .items-template1 .header-tour{
    background: #e02131;
    color: #fff;
    padding: 5px 15px;
}
.templatebox.box2 .template1 .items-template1 .header-tour a{
    font-size: 18px;
    color: #fff;
}
.templatebox.box2 .template1 .items-template1 .header-tour a:hover{
    text-decoration: underline;
}
.templatebox.box2 .template1 .items-template1 .right{
    border-top:none;
    padding-top: 0px;
}
.templatebox.box2 .template1 .items-template1 .tour-link-box .right{
    padding-top: 15px;
}
.templatebox.box2 .template1 .items-template1 .news-headlines .list-news-headlines .items-list-news-tour{
    border-bottom: 1px solid#ebebeb;
    position: relative;
    z-index: 20;
    color: #000;
    background: #f8f8f8;
    padding: 6px 15px;
    display: block;
    width: 100%;
    font-size: 13px;
    transition: all 0.5s;
}
.templatebox.box2 .template1 .items-template1 .news-headlines{
    display: block;
    float: left;
    width: 100%;
    padding: 0px;
    text-decoration: none;
    background:#f8f8f8;
}
.templatebox.box2 .template1 .items-template1 .news-headlines .list-news-headlines .items-list-news-tour .right{
    text-align: right;
    color:#FF0000;
}
.templatebox.box2 .template1 .items-template1 .news-headlines .list-news-headlines .items-list-news-tour .left{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.templatebox.box2 .template1 .items-template1 .news-headlines .list-news-headlines .items-list-news-tour .left a{
    color:#000;
    transition: all 0.5s;
}
.templatebox.box2 .template1 .items-template1 .news-headlines .list-news-headlines .items-list-news-tour:hover{
    cursor: pointer;
    text-decoration: none;
    background: #fbfbe1;
    color: #f59c0b;
}
.templatebox.box2 .template1 .items-template1 .news-headlines .list-news-headlines .items-list-news-tour:hover .left a{
    color: #f59c0b;
}
.owl-carousel-post .item .box-items{
    padding: 0px 10px;
}
.owl-carousel-post .item .box-items .header-thumbnail{
    height: 170px;
    text-align: center;
    display: table;
    margin-bottom: 12px;
}
.owl-theme.owl-carousel-post .item .box-items .header-thumbnail a img{
    width: auto;
    margin: 0px auto;
}
.owl-theme.owl-carousel-post .item .box-items .header-thumbnail a{
    display: table-cell;
    vertical-align: middle;
}
.owl-theme.owl-carousel-post .item .box-items a.link-info-items-owl{
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
}
.owl-theme.owl-carousel-post .item .box-items a.link-info-items-owl:hover{
    color: #059fdd;
}
.owl-theme.owl-carousel-post .item .box-items .excerpt-items-post{
    height: 80px;
    display: block;
    overflow: hidden;
    text-align: justify;
}
.owl-theme.owl-carousel-post .owl-nav{
    position: absolute;
    width: 100%;
    left: 0px;
    top:40%;
}
.owl-theme.owl-carousel-post .owl-nav [class*=owl-]{
    position: absolute;
    border-radius: 0px;
    margin: 0px;
    padding: 10px;
    background: #000;
    color: #FFF;
    font-size: 20px;
    opacity: 0.5;
}
.owl-theme.owl-carousel-post .owl-nav .owl-prev{
    left: 10px;
}
.owl-theme.owl-carousel-post .owl-nav .owl-next{
right: 10px;
}
.owl-theme.owl-carousel-post .owl-nav [class*=owl-]:hover{
    opacity: 1;
}
.list-severbox{
    margin-top: 15px;
    margin-bottom: 10px;
}
.items-list-severbox .box-item-list{
    height: 175px;
}
.items-list-severbox .box-item-list a{
    position: absolute;
    background: #FCB746;
    border-color: #eda531;
    padding: 8px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    color: #FFF;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
    opacity: 0.9;
}
.items-list-severbox .box-item-list a:hover{
    background: #dc0101;
    color: #FFF;
}
.nomargin{
    margin: 0px !important;
}
.list-support{
    margin-top: 30px;
}
.list-support .item .box-items{
    text-align: center;
}
.list-support .item .box-items img{
    transition: all 0.2s;
}
.list-support .item .box-items:hover img{
    opacity: 0.7;
}
.list-support .owl-carousel-list-support.owl-theme .owl-nav{
    position: absolute;
    top:0px;
    width: 100%;
    left: 0px;
}
.list-support .owl-carousel-list-support.owl-theme .owl-nav div{
    position: absolute;

    border-radius: 0px;
    margin: 0px;
}
.list-support .owl-carousel-list-support.owl-theme .owl-nav div.owl-next{
right: 0px;
}
.list-support .owl-carousel-list-support.owl-theme .owl-nav div.owl-prev{
left: 0px;
}
.owl-carousel-theme .items-support .box-items-support{
    padding: 0px 15px;
}
.owl-carousel-theme .items-support .box-items-support .left{
    float: left;
}
.owl-carousel-theme .items-support .box-items-support .right{
    margin-left: 60px;
}
.footer-support{
    margin-top: 60px;
}
.owl-carousel-theme .items-support .box-items-support .right .title-right a{
    font-size: 14px;
    display: block;
    margin-bottom: 2px;
    color: #059fdd;
    font-weight: bold;
    text-transform: uppercase;
}
.owl-carousel-theme .items-support .box-items-support .right .info-right{
    font-size: 13px;
}
.menu-footer{
    background-color: #f2f1f1;
    margin-top: 40px;
    padding: 30px 15px;
}
.menu-footer .items-menu-footer ul li{
    padding: 2px 0px;
}
.menu-footer .items-menu-footer ul li a{
    color: #666;
    font-size: 16px;
    font-weight: 500;
}
.menu-footer .items-menu-footer ul li ul li a{
    font-size: 14px;
    font-weight: 400;
}
.menu-footer .items-menu-footer ul li a:hover{
    color: #e30050;
}
.footer{
    background: #fff;
    color:#FFF;
    padding: 35px 15px;
}
.footer .title-items-footer{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    color: #e6e6e6;
    margin-bottom: 10px;
}
.footer .menu-footer-items ul li a{
    color: #e6e6e6;
    padding: 3px 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.footer .menu-footer-items ul li a:hover{
    color:#FFF;
}
.footer .items-footer p{
    margin-bottom: 2px;
}
.footer .items-footer img{
    display: block;
    margin-bottom: 10px;
}
#backtotop{
    position: fixed;
    bottom: 50px;
    background: url("img/gotop.gif");
    width: 46px;
    height: 46px;
    border-radius: 7px;
    transition: all 0.6s;
    cursor: pointer;
    z-index: 999;
    right: -200px;
}
#backtotop.showbtt{
    right: 50px;
}
.template-theme .title-sidebar{
    background: #e02131;
    color:#FFF;
    padding: 5px 15px;
    font-size: 15px;
}
.template-theme .sidebar .list-all-tour-hot .items-tour-hot .left{
    float: left;
    width: 80px;
    margin-right: 10px;
}
.template-theme .sidebar .list-all-tour-hot .items-tour-hot{
    margin-top: 10px;
}
.template-theme .sidebar .list-all-tour-hot .items-tour-hot:first-child{
    margin-top: 0px;
}
.template-theme .sidebar .list-all-tour-hot .items-tour-hot .right{
    margin-left: 90px;
}
.template-theme .sidebar .list-all-tour-hot{
background:#F8F8F8;
    padding:10px;
}
.template-theme .sidebar .list-all-tour-hot .items-tour-hot .right a{
    color: #2a6496;
    display: block;
    height: 40px;
    overflow: hidden;
}
.template-theme .sidebar .list-all-tour-hot .items-tour-hot .right a:hover{
    text-decoration: underline;
}
.template-theme .sidebar .list-all-tour-hot .items-tour-hot .right .price-tour-sidebar{
    color: #000;
}
.template-theme .sidebar .list-all-tour-hot .items-tour-hot .right .price-tour-sidebar span{
    color: #de1111;
    font-weight: bold;
}
.title-block{
    color: #e02131;
    font-size: 24px;
    margin: 0px;
    margin-bottom: 12px;
}
.template-theme{
    margin-top: 15px;
}
.template-theme .main-box .items-loop-tour .right{
    padding-left: 0px;
}
.template-theme .main-box .items-loop-tour .right a.header-title-tour{
    color: #e02131;
    font-weight: 500;
    font-size: 16px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 12px;
}
.template-theme .main-box .items-loop-tour .right a.header-title-tour:hover{
    text-decoration: underline;
}

.template-theme .main-box .items-loop-tour .right .info-tour-loop .citylist{
    text-transform: uppercase;
    color: #008ce9;
    font-size: 14px;
    font-weight: 500;
}
.template-theme .main-box .items-loop-tour .right .info-tour-loop .boxdiv-tour{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.template-theme .main-box .items-loop-tour .right .price-box-loop a.linktour{
    display: inline-block;
    color: #fff;
    font-size: 15px;
    background: #e02131;
    padding: 5px 10px;
}
.template-theme .main-box .items-loop-tour .right .price-tour-loop{
    color: #dc0101;
    font-size: 22px;
    font-weight: bold;
}
.template-theme .main-box .items-loop-tour .right .price-box-loop a.linktour:hover{
    background: #de1111;
}
.template-theme .main-box .items-loop-tour{
margin-bottom: 20px;
}
.template-theme .main-box .items-loop-tour .box-star-tour .fa{
    color: #f3930a;
}
.template-theme .main-box .items-loop-tour .left{
    text-align: center;
}
.title-sidebar-tour {
    background-color: #e02131;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}
.sidebar .info-tour-sidebar{
    background: #f8f8f8;
    padding: 5px 0px;
    padding-bottom: 15px;
}
.sidebar .info-tour-sidebar .items-box-meta-tour{
padding: 1px 15px;
}
.sidebar .info-tour-sidebar .items-box-meta-tour strong{
    font-weight: 500;
}
.sidebar .info-tour-sidebar .items-box-meta-tour .star-tour .fa.fa-star{
    color: #d46002;
}
.sidebar .pricetour{
    margin-top: 25px;
    border: 1px solid#059fdd;
    font-weight: bold;
    color: #f00;
    text-align: center;
    font-size: 24px;
    padding: 5px 0px;
}
.sidebar .pricetour span{
    position: absolute;
    width: 60px;
    background: #f8f8f8;
    padding: 0px 3px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    top: -12px;
    left: 50%;
    transform: translate(-50%,0);
}
.sidebar .phone-contact-sidebar{
margin-top: 25px;
    background: #e8f3fa;
    padding: 15px 0px;
    padding-top: 30px;
}
.sidebar .phone-contact-sidebar p{
    margin-bottom: 0px;
}
.sidebar .icon-phone-sidebar{
    position: absolute;
    background: url(img/goi-dien-de-tu-van.png) no-repeat;
    height: 46px;
    width: 46px;
    display: inline-block;
    top: -23px;
    left: 50%;
    transform: translate(-50%,0);
}
.title-single-tour{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    color: #676767;
}
.main-box .main-box-single-tour{
    background: #fbfbe1;
}
.template-theme .main-box .main-box-single-tour .items-loop-tour .right .info-tour-loop .boxdiv-tour{
    overflow: auto;
    text-overflow: inherit;
    white-space: normal;
}
.content-tour{
    margin: 20px 0px;
}
.content-tour .nav-tabs span.number{
    display: none;
}
.content-tour .nav-tabs li a{
    background: #e02131;
    color: #fff;
    display: inline-block;
    border-radius: 0px;
    border: none !important;
    padding:4px 15px;
    cursor: pointer;
}
.content-tour .nav-tabs li{
    margin-right:3px;
}
.content-tour .nav-tabs li.active a{
    background: #ff0000;
    color: #FFF;
}
.content-tour .nav-tabs{
    border-bottom: 3px solid#f28c07;
}
.content-tour .tab-content{
    padding: 15px 0px;
}
.content-tour form fieldset{
border: 1px solid #DDD;
    padding: 16px;
    margin-bottom: 15px;
}
.content-tour form fieldset legend{
    width: 95%;
    color: #4A9BD0;
    font-weight: normal;
    font-size: 14px;
    padding-bottom: 4px;
}
.contact-tour .form-contact-tour .box-items-contact-form{
    margin-bottom: 10px;
}
.contact-tour .form-contact-tour .box-items-contact-form .form-control{
    height: 28px;
    font-size: 13px;
    border-radius: 0px;
    color: #555;
    padding: 2px 6px;
}
.contact-tour .form-contact-tour .box-items-contact-form strong{
    font-weight: 500;
    font-size: 13px;
}
.content-tour #daystart{
    max-width: 238px;
}
.box-items-contact-form .iconindatepick{
    position: absolute;
    left: 215px;
    top: 7px;
}
.fontsize13{
    font-size: 13px;
}
.content-tour .box-items-contact-form .fontsize13{
    margin-bottom: 5px;
    display: block;
}
.content-tour #inputmessage{
    height: 160px;
}
.margintop15{
    margin-top: 15px;
}
#btnsubmitform{
    background: #059fdd;
    color: #fff;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    display: inline-block;
    padding: 8px 15px;
    text-align: center;
    border: none;
}
.phone-earphone a{
    display: inline-block;
    font-size: 16px;
    padding: 5px 15px;
    color: #336699
    text-align: center;
    border: 1px solid #008ce9;
    border-radius: 25px;
}
.phone-earphone a .glyphicon{
    display: inline-block;
    margin-right: 10px;
}
.phone-earphone{
    margin-top: 15px;
    margin-bottom: 15px;
}
.content-post .title-single-tour{
    margin-top: 0px;
}
.pagination{
    margin: 25px 0px;
}
.pagination a,.pagination span{
    display: inline-block;
    padding: 3px 10px;
    border:1px solid #eee;
    background: #FFF;
    margin: 0px 1px;
}
.pagination span.page-numbers.current,.pagination a:hover,.pagination span:hover{
    background:#008ce9;
    color:#FFF;
    border:1px solid #008ce9;
}
.taxonomy-description{
    padding: 10px 0px;
}
#wpcomm .wc-form-wrapper{
    float: left;
    width: 100%;
}
#wpcomm form{
    float: left;
    width: 100% !important;
}
#wpcomm form .wc_comm_submit{
    background:#008ce9;
    color:#FFF;
    border:none;
    padding: 10px 15px;
    text-transform: uppercase;
}
.ui-widget.ui-widget-content{
    z-index: 99999999999999 !important;
}
.aligncenter{
    display: block;
    margin: 10px auto;
}
.alignleft{
    display: block;
    float: left;
}
.alignright{
    display: block;
    float: right;
}
.content-tour .tab-content p{
    margin-bottom: 5px;
}
.icon-loadding{
    background: url("img/loadding.gif") no-repeat;
    background-size: cover;
    height: 32px;
    width:32px;
    position: absolute;
    right: 30px;
    display: none;
}
.nottexttour{
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
    font-weight: normal;
    padding: 5px 20px;
}
.content-post table{
    margin:10px auto;
    border:1px solid #DDD;
}
.content-post table tr td,.content-post table tr th{
       border: 1px solid #DDD;
    text-align: center;
    padding: 5px;
}
.items-template1 .items-info-tour p{
    margin-bottom: 0px;
}
.searchform .items-form-search .chosen-select{
    width: 100%;
    float: left;
        border: 1px solid #DDD;
    padding: 5px;
}
.templatebox.box1 .template1 .items-template1 .left{
text-align: center;
}
.items-post-replate .imgthumbnail-post{
	height: 200px;
	display: table;
}
.items-post-replate img{
	max-height: 190px;
}
.items-post-replate a{
	display: table-cell;
	vertical-align: middle;
}
.items-post-replate a.linkpost{
	display: block;
	float: left;
	width: 100%;
	height: 40px;
	overflow: hidden;
	font-weight: 500;
}
.addscrollfixsidebartour{
	    position: fixed;
    top: 40px;
    width: 263px;
    background: #FFF;
    z-index: 999;
}
.bgcustomtabmobile{
    display: none;
    background: #008ce9;
}
a#menutogglesingletour{
       height: 34px;
    width: 36px;
    text-align: center;
    background: #008ce9;
    color: #FFF;
    display: none;
    padding-top: 7px;
    float: right;
}
.showtextselect{
        color: #FFF;
    display: inline-block;
    padding-top: 8px;
}
.comment-plugins{
    margin: 15px 0px;
}
.boxithemect,.boxithemect p,.boxithemect strong{
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
}
.boxithemect p,.boxithemect strong{
    font-size: 13px;
}
.metapricetourtheme .price-tour{
font-size: 18px;
}
.paddingtop10{
    padding-top: 10px;
}
.paddingtop13{
    padding-top: 13px;
}
.boxithemect.fontcttour .fontctprice span.price-tour{
font-size: 14px;
}
.paddingtop3{
    padding-top: 3px;
}