@media (min-width: 992px) and (max-width: 1200px){
    .container {
        width: 98%;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .container {
        width: 98%;
    }
    .items-template1 .items-info-tour{
        font-size: 13px;
    }

    .templatebox.box2 .template1 .row{
        margin: 0px -10px;
    }
    .templatebox.box2 .template1 .items-template1{
        padding: 0px 10px;
    }
    .footer .items-footer:nth-child(4),.menu-footer .items-menu-footer:nth-child(4),.list-severbox .items-list-severbox:nth-child(4){
        display: none;
    }
    .searchform .items-form-search{
        margin-bottom: 10px;
    }
    .owl-carousel-home .item .info-items-owl{
font-size: 13px;
    }
    .owl-carousel-home .item .info-items-owl a.link-info-items-owl{
        font-size: 14px;
    }

}

@media (max-width: 768px) {
    .content-post table{
    display:none;    
    }
    .searchform .items-form-search{
        margin-bottom: 10px;
    }
    .items-template1 .items-info-tour{
        font-size: 13px;
    }
    .list-severbox .items-list-severbox{
        margin-bottom: 15px;
    }
    .owl-carousel-home .item .info-items-owl{
        font-size: 13px;
    }
    .owl-carousel-home .item .info-items-owl a.link-info-items-owl{
        font-size: 14px;
    }
    .templatebox.box1 .template1 .items-template1{
        margin-bottom: 10px;
    }

    .templatebox.box2 .template1 .row{
        margin: 0px -10px;
    }
    .templatebox.box2 .template1 .items-template1{
        padding: 0px 5px;
    }
    .templatebox.box2 .template1 .items-template1 .right{
        padding: 15px 0px;
    }
    .templatebox.box2 .template1 .items-template1 .box-items-template{
        padding: 15px;
        padding-bottom: 0px;
    }
    .templatebox.box2 .template1 .items-template1 .items-list-news-tour .right{
        padding:0px;
    }
    .owl-carousel-home .item .info-loop-items .info-itemsrow{
        padding: 10px 0px;
    }
    .owl-carousel-home .item .info-loop-items .info-itemsrow .right,.owl-carousel-home .item .info-loop-items .info-itemsrow .left{
        width: 100%;
        text-align: left;
    }
    .template-theme .main-box .items-loop-tour .right .price-box-loop{
        margin-top: 10px;
        text-align: left;
    }
    .template-theme .main-box .items-loop-tour .right .price-box-loop p{
        margin-bottom: 0px;
    }
   /*
   
   .content-tour .nav-tabs span.number{
        display: block;
    }
    .content-tour .nav-tabs span.text{
        display: none;
    }
    */
   a#menutogglesingletour{
   	display: inline-block;
   }
   .bgcustomtabmobile{
   	display: block;
   }
   .content-tour .nav-tabs{
   	display: none;
   }
   .content-tour .nav-tabs li{
   	width: 100%;
   }
   .content-tour .nav-tabs li a{
   	display: block;
   	margin: 0px;
   }
}
@media (max-width: 550px) {
    .templatebox.box2 .template1 .items-template1{
        width: 100%;
    }
    .list-severbox .items-list-severbox{
        padding: 0px 10px;
    }
    .templatebox.box2 .template1 .items-template1 .box-items-template .left .boxleft{
        display: block;
    height: inherit;
    }
    .templatebox.box2 .template1 .items-template1 .box-items-template .left .boxleft img{
            display: block;
    height: inherit;
    max-height: inherit !important;
    }
}
@media (max-width: 480px) {
    .templatebox.box1 .template1 .items-template1 .left,.templatebox.box1 .template1 .items-template1 .right{
        width: 100%;
    }
    .searchform .items-form-search{
        width: 100%;
    }
    .template-theme .main-box .items-loop-tour .right,.template-theme .main-box .items-loop-tour .left{
        width: 100%;
        padding: 0px 15px;
    }
    .template-theme .main-box .items-loop-tour .right{
        margin-top: 10px;
    }
    .owl-carousel-home.owl-theme .item .box-items .header-thumbnail img{
        max-height: inherit;
    }
    .owl-carousel-home.owl-theme .item .box-items .header-thumbnail{
        display: block;
        height: inherit;
    }
}
@media (max-width: 460px) {
    .footer .items-footer,.menu-footer .items-menu-footer{
        width: 100%;
    }
    .footer .items-footer{
        padding: 0px;
    }
    .items-post-replate .imgthumbnail-post{
        height: 150px;
    }
    .items-post-replate img{
        max-height: 130px;
    }
    .items-custom-singletour .left,.items-custom-singletour .right{
    	width: 100%;
    	float: left;
    }
    .items-custom-singletour .left{
    	text-align: center;
    	margin: 10px 0px;
    }
}
@media (max-width: 380px){
.items-post-replate{
    width: 100%;
}
 .items-post-replate .imgthumbnail-post{
          height: inherit; 
          margin-bottom: 10px;
          display: block;
          text-align: center; 
    }
    .items-post-replate img{
         height: inherit;
         max-height: inherit;
    }
    .items-post-replate a{
        display: block;
    }
}